# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "7285377b95cfe9661954588728179c06"
name = "aiframe-virtual-tryon"
handle = "aiframe-virtual-tryon"
application_url = "https://mug-suggestion-guys-hills.trycloudflare.com"
embedded = true

[build]
include_config_on_deploy = true
automatically_update_urls_on_dev = true


[webhooks]
api_version = "2025-04" 

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app_subscriptions/update" ]
  uri = "/webhooks/app/subscriptions_update"

  [[webhooks.subscriptions]]
  compliance_topics = [ "customers/data_request", "customers/redact", "shop/redact" ]
  uri = "/webhooks"


[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_themes"

[auth]
redirect_urls = ["https://mug-suggestion-guys-hills.trycloudflare.com/auth/callback", "https://mug-suggestion-guys-hills.trycloudflare.com/auth/shopify/callback", "https://mug-suggestion-guys-hills.trycloudflare.com/api/auth/callback"]

[pos]
embedded = false
